<div class="wrapper">
    <div class="inner">
    <form action="">
    <h3> Company Registration Form</h3>
    <div class="form-wrapper">
    <label for="">Company Name</label>
    <input type="text" class="form-control">
    </div>
    <div class="form-wrapper">
    <label for="">Email <Address></Address></label>
    <input type="email" class="form-control">
    </div>
    <div class="form-wrapper">
    <label for="">Location</label>
    <input type="text" class="form-control">
    </div>
    <div class="form-wrapper">
    <label for="">Ownership</label>
    <input type="text" class="form-control">
    </div>
    <div class="checkbox">
    <label>
    <input type="checkbox"> I accept the Terms of Use & Privacy Policy.
    <span class="checkmark"></span>
    </label>
    </div>
    <button>Register Now</button>
    </form>
    </div>
    </div>
    
    
    
  